* {
    padding: 0px;
    margin: 0px; 
}

.mainWrapper {
    height: 100vh;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover 
{
/*      color:#00A0C6;  */
     text-decoration:none; 
     cursor:pointer;  
}

.mainWrapper {
   
}

.background img {
    background-size: 100% 100%;
    width: 100vmax;
    height: 100vmin;    /*최대화된 수치 */
    z-index: -10;
    position: fixed;
    
}

.bluredBackground img {
    background-size: 100% 100%;
    width: 100vmax;
    height: 99.5vmin;
    filter: blur(50px);
    display: block;
    z-index: -20;
    position: absolute;
    -webkit-filter: blur(50px);
}

.mask {
    width: 300px;
    height: 100vmin;
    position: fixed;
    z-index:-1;
    overflow:hidden;
}

.subWrapper {
    position: absolute;
}

.sidebar {
    width: 300px;
    float: left;
    height: 100vmin;
}

/*
.sideContent:before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: inherit; 
    z-index:-1;
    filter: blur(6px); 
    -webkit-filter: blur(6px); 
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
}
*/


.sideContent { 
    width: 300px;
    float: left;
    height: 100vmin;
    position: absolute;
    color : white;
}

.logoAndPhrase {
    height: 60px;
    padding: 5px;
    margin: 5px;
}

.titleLogo {
    padding: 5px;
    margin-left: 10px;
    float: left;
    font-size: 35px;
}

.titlePhrase a img {
	position: relative;
	width: 250px;
	height: auto;
    margin-left: 20px;
    top: -15px;
}

.projectSign {
	position: absolute;
    padding: 5px;
    margin: 5px;
    font-size: 1.8vmin;
    text-align: left;
    top:70px;
    font-family: 'Gothic A1', sans-serif;
}

.projectSign img {
	position: relative;
	width: 20px;
	height: 20px;
	top: 3px;
}

.listWrapper {
	margin-top: 60px;
	max-height: 650px;
	overflow: auto;
}

.list {
}

#projectNames {
	color: white;
}

.listName {
    margin: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 15px;
}

.listName img {
	position: relative;
	height: 30px;
	width: 30px;
	top: 10px;
}

.addProject {
    margin: 5px;
    float: right;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.5vmin;
}

.addProject img {
	position: relative;
	top: 5px;
}

#RegistrationModalBtn {
	color: white;
}

.main {
    margin: 10px;
    position: absolute;
    left: 20vmax;
    width: 78.9vmax;    /* 여기 나중에 가로 삐져나오면 수정!! */
    height: 97.9vmin;   /* 최대한 화면이 차게 잡은 수치 */
    float: right;
    z-index: 1;
}

#topMenu {
    text-align: right;
    margin-top: 5px;
}

#topMenu img {
	height: 35px;
	width: 35px;
	background-color: white;
	border-radius: 50%;
}

#topMenu ul li {
    display: inline;
    top: 20px;
    margin: 20px;
}


.commentBack {
    position: absolute;
    bottom:50px;
    width:900px;
    left:-50px;
    height: 170px;
    background-color: black;
    opacity: 0.4;
    filter: blur(5px); 
}

.commentBelow {
    position: absolute;
    bottom: 50px;
    left: -20px;
    width: 800px;
    font-family: 'Gothic A1', sans-serif;
}

.commentBelow h1 {
    font-size: 45px;
    color: white;
}

.commentBelow h2 {
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
}

.commentBelow p {
    font-size: 13px;
    color: white;
    font-style: italic;
}

.commentAdjust {
    position: absolute;
    bottom: 10px;
    left: -190px;
}

#MainCommentModalBtn img, #BackgroundImageModalBtn img {
	height: 30px;
}

.BackgroundImage {
   position: absolute;
    bottom: 10px;
    left: -150px;
}

.emptyFooter {
    position: absolute;
    bottom: 0vmin;
    left: 59vmax;
    color: gray;
}

#MyPageModalBtn img {
	border-radius: 50%;	
}

.logout {
	text-align: right;
	position: relative;
	right: 10px;
}

/* MyPageModal - background */
.MyPageModal { 
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0    ;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

/* MyPageModal - content */
.MyPageModalContent {
    background-color: #e3fafd;
    margin-left: 84%;
    margin-top: 11%;
    padding: 0px;
    border: 1px solid #e3fafd;
    border-radius: 0px 0px 10px 10px;
    width: 280px;
    height: 280px; /* Could be more or less, depending on screen size */
}

/* StickyNoteModal - background */
.StickyNoteModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* disable scroll as it does not need to */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

/* StickyNoteModal - content */
.StickyNoteModalContent {
    margin-left: 150px;
    margin-top: 100px;
    padding: 0px;
    width: 1600px;
    height: 770px; /* Could be more or less, depending on screen size */
}

/* RegistrationModal - background */
.RegistrationModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0    ;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* RegistrationModal - content */
.RegistrationModalContent {
    background-color: #fefefe;
    margin-left: 750px;
    margin-top: 200px;
    padding: 0px;
    border: 1px solid #888;
    width: 400px;
    height: 350px; /* Could be more or less, depending on screen size */
}

/* MainComment - background */
.MainCommentModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0    ;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* MainComment - content */
.MainCommentModalContent {
    background-color: #fefefe;
    margin-left: 750px;
    margin-top: 14%;
    padding: 0px;
    border: 1px solid #888;
    width: 400px;
    height: 304px; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

/* BackgroundImage - background */
.BackgroundImageModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0    ;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* BackgroundImage - content */
.BackgroundImageModalContent {
    background-color: #fefefe;
    margin-left: 750px;
    margin-top: 14%;
    padding: 0px;
    border: 1px solid #888;
    width: 400px;
    height: 130px; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}