body {
	font-size:15px;
}

.manageWrapper {
    width: 450px;
    /* height: 500px; */
}

#projectTitle {
	text-align: unset;
    font-weight: bold;
    color: white;
}

.title {
    width: inherit;
    height: 70px;
    background-color: aliceblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: darkorange;
}

.menu {
    width: inherit;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #e9ecef;
}
 
.title div {
/*     width: 100px; */
    height: inherit;
    display: table;
}

.menu div {
    width: 100px;
    height: inherit;
    display: table;
}

.manage-a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}

.name {
    float: left;
    width: 300px;
    margin-left: 10px;
    top: 0px;
}

.close1, .trash {
    float: right;
    width: 50px;
    font-size: 25px;
    vertical-align: inherit;
    color : white;
}

.trash {
	width: 30px;
}

.close1 {
	padding-right: 10px;
}

.menu div {
    float: left;
}

.content {
    background-color: white;
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #e9ecef;
}

.overview {
	width : 450px;
	height: 395px;
}

.overviewBtn {
	margin-left: 10px; 	
}

.checklist {
	width : 450px;
	height: 470px;
}

.members {
	width : 450px;
	height: 460px;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pj {
    height: 90px;
}

#projectDescription {
	word-wrap: break-all;
}

.pjName {
    height: 40px;
}

.pjInput {
    height: 50px;
}

.dpt {
    height: 260px;
    margin-top: 20px;
}

.dptName {
    height: 40px;
}

.dptdpt {
    height: 220px;
}f

.photo {
    width: 250px;
    height: 410px;
    background-color: cadetblue;
    float: right;
}

.image {
    height: 200px;
    padding: 20px;
}

.record {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.fa-grimace {
    font-size: 180px;
}

.footer {
    width: inherit;
    height: 65px;
    background-color: white;
    clear: both;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.done {
    width: 90px;
    height: 30px;
    text-align:center;
    display: table;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    background-color: darkorange;
    border-radius: 5px;
    color: white;
}    

.done a {
    display: table-cell;
    vertical-align: middle;
}

#projectName {
	font-size : 15px;
	border: 1px solid #ced4da;
	border-radius: 5px;
}

.memberDiv {
	width : 410px;
	height : 330px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
 
.addUser {
	margin-top : 20px;
}

.addMemberInput {
	width : 300px;
	height : 30px;
	/* float : left; */
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.addUserBtn {
	width : 90px;
	height: 30px;
	float : right;
	margin-right : 20px;
	background-color: darkorange;
    border-radius: 5px;
    text-align: center;
}

.memberList {
	width : inherit;
	height : 30px;
    margin: 5px;
}

.memberName {
	width : 150px; 
	height : inherit;
	float: left;
	    padding-left: 5px;
}	

.memberId {
	width : 200px;
	height : inherit;
	float: left;
}

#projectDescription {
    border: 1px solid #ced4da;
    border-radius: 5px;
}

#invite {
	vertical-align: sub;
    color: white;
}
