.modal-header {
	height : 55px;
	background-color: darkorange;
    border-radius: 10px;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
}
.center-line {
    width: 1px;
    height: 91%;
    margin-top: 15px;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
	background-color: gray;
}
.modal-dialog {
	max-width: 65%;
}
.modal-content {
	border-radius: 10px;
    padding-bottom: 50px;
    width: 90%;
    margin: 0 5%;
    float: left;
    margin-top: 5%;
    display: inline;
}
.task_name {
	font-size: 25px;
	height: 45px;
}
.task_content {
	resize: none;
	overflow-y: hidden;
	font-size: 18px;
	height: auto;
}
/* 오른쪽 부분 css start */
.left-box {
	width: 70%;
	float: left;
	
}
.right-box {
    width: 30%;
	float: left;
    padding: 10px;
}
.task-assigned-member-box-name {
	float: none;
	margin-top: 30px;
	font-weight: bold;
    font-size: 18px;
}
.task-assigned-member {
	width : 100%;
}
.right-box-item {
	margin :30px 0;
	font-size: 18px;
    height: 20px;
	clear: both;
}
.task-assigned-member-box {
	height: 50px;
}
.right-box-item-title {
	text-weight: bold;
    display: inline;
    float: left;
}
#datapicker1 {
	display: inline;
    float: left;
    font-size: 18px;
}

.task-dday-name {
	width: 20%;
	flaot: left;
	font-weight: bold;
	display : inline;
}

.task-start-day-box {
	margin-top: 10px;
}
.task-start-day-name, .task-update-day-name {
	width: 20%x;
	font-weight: bold;
}
#startDate, #updateDate {
	width: 80%;
    font-size: 16px;
    padding: 0 17px;
}
.filebox {	
    margin-bottom: 50px;
}
.addTaskMemberBtn {
	margin-left: 10px;;
}

.addTaskMemberBtn:hover {
	color: darkorange;
	cursor: pointer;
}
/* 오른쪽 부분 css end */


.modal-body {
	overflow-x : hidden;
	overflow-y : auto;
    margin: 30px 10%;
}

body {
  margin: 0;
  min-width: 250px;
}

#exampleFormControlTextarea6 {
	font-size:15px;
	color : black;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

li {
	width : 100%;
	cursor: auto;
	
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 5px 10px 5px 10px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 16px 12px 16px;
  font-size: 25px;
}
.commentDelete {    
	margin-left: 5px;
    margin-bottom: -5px;
    margin-top: -5px;
	float: right;
	right: 5px;
	cursor: pointer;
	font-size : 2rem;
	vertical-align: center;
}
.commentDelete:hover {
	/* background-color: red; */
	color: red;
}
.close:hover {
  /* background-color: #f44336; */
  color: white;
}

/* Style the header */
.header {
  /* background-color: grey; */
  color: white;
  text-align: center;
  width: 100%;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {    
  margin: 0;
  width: 90%;
  border: none;
  border-radius: 0;
  padding: 5px 10px;
  float: left;
  font-size: 16px;
  color : black;
}
.taskSubTitle {
	margin-bottom: 5px;
}
#myInput {
	
}
/* Style the "Add" button */
.addBtn {
	color: white;
	margin: 0;
   padding: 5px;
   width: 10%;
  background: darkorange;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}
.addBtn:hover {
	color: white;
  background-color: #f38500;
}
    /*Textarea*/
.shadow-textarea textarea.form-control::placeholder {
    font-weight: 500;
}
.shadow-textarea textarea.form-control {
	height: 0px;
    min-height: 50px;
    padding-left: 0.8rem;
    resize: none;
    border-width: 2px;
    width: 100%;
}
.shadow-textarea2 textarea.form-control {
    padding-left: 0.8rem;
    height: 0;
    min-height: 200px;
    resize: none;
    border-width: 2px;
    width: 100%;
    /* height: 200px; */
}

#imgName {
	width: 500px;
}
#myDIV {
	width: 100%;
    margin-top: 30px;
    margin-bottom: 5px;
}    
#myUL {
	width: 100%;
}
#myUL li {
    padding: 10px 20px;
	float: left;
	font-size: 1.2rem;
}
.nicknamebox {    
	width: 10%;
    height: 100%;
    float: left;
    margin-right: 10px;
}
.contentbox {
    width: 65%;
    float: left;
}
.datebox {
    float: left;
}
.right{
    float: right;
}
#container{
    width: 100%;
    margin: auto;
}
#boxs{
    margin: 5px;
}
#box1{
    margin: 20px 5px 20px 5px;
}
/* 파일 업로드 */
.input-group {
	width: 10px;	
}
.uploadList {
	clear: both;
}
.uploadLabel {
	float: left
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 25%;
}

#myForm {
	background-color : white;
	width: 200px;
	height: 45px;
	display : none;
	position: fixed;
	bottom : -230px;
	right: 230px;
	border : 2px solid black;
}
#datepicker1 {
	width: 80%;
}
.modal-footer {
	both: clear;
	width: 90%;
    margin: 0 5%;
    padding-top: 3rem;
    margin-top: 1rem;
}
.saveBtn {
    font-size: 1.3rem;
	background-color: darkorange;
	border-color: darkorange;
}
.closeBtn {
    font-size: 1.3rem;
    color: white;
    margin: 0;
    padding: 5px;
    width: 7%;
    background: #6c757d;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}
.closeBtn:hover {
	background: #444;
}
.saveBtn {
    font-size: 1.3rem;
    color: white;
    margin: 0;
    padding: 5px;
    width: 10%;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
	border-color: darkorange;
	 background: darkorange;
}
.saveBtn:hover {
	background-color: #f38500;
	border-color: #f38500;
}